<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/predictions..css">
<section id="orange-cap" class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-md-6 px-0 order-2 order-md-1">
            <div id="guessHeading" class=" text-center d-md-block mt-5">
               <h1>ORANGE CAP</h1>
               <p class="player-name">Virat Kohli</p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <img src="https://kalingatv.com/wp-content/uploads/2017/04/Virat-Kohli-RCB.jpg" alt="" class="img-fluid mt-lg-5">
        </div>
    </div>
</section>
<section id="purple-cap" class="container-fluid px-0">
    <div class="row align-items-center content">
        <div class="col-md-6 order-1">
            <img src="https://cricketaddictor.gumlet.io/wp-content/uploads/2021/06/Dwayne-Bravo-1.jpg?compress=true&quality=80&w=800&dpr=2.6" alt="" class="img-fluid" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-md-0">
                    <h1>PURPLE CAP</h1>
                    <p class="player-name">Dwayne Bravo</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section id="playoff-qualifiers">
        <div class="row align-items-center content">
            <div class="col-md-6 text-center order-2 order-md-1">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 mb-5 mb-md-0">
                        <h1>PLAYOFF QUALIFIERS</h1>
                        <p class="team-name">Mumbai Indians</p>
                        <p class="team-name">Chennai Super Kings</p>
                        <p class="team-name">Kolkata Knight Riders</p>
                        <p class="team-name">Royal Challengers Bangalore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="https://c.ndtvimg.com/2022-02/46b3fbig_ipl-10-teams-logo_625x300_25_February_22.jpg?im=FaceCrop,algorithm=dnn,width=806,height=605" alt="" class="img-fluid">
            </div>
        </div>
    </section>
    <hr>
    <section id="winning-team">
        <div class="row align-items-center content justify-content-center px-0 text-center">
            <div class="col-4">
                <h1>WINNING TEAM</h1>
                <p class="team-name">Mumbai Indians</p>
            </div>
            <div class="col-10">
                <img src="https://img.jagranjosh.com/images/2022/March/2432022/MI-IPL-2022-schedule-squad.jpg" alt="" class="img-fluid winning-img">
            </div>
        </div>
    </section>